html { 
  scroll-behavior: smooth;
}

body { 
  font-family: 'Roboto', sans-serif; 
  color: #333;
}

img { 
  max-width: 100%; 
  height: auto;
}

* { 

  box-sizing: border-box; 
  /* managing our WIDTH VALUES got easier, we set that prop once in the global file and we can forget about it. */
}

a { 
  color: $mainOrange;
}